# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Redis
# -----------------------------
dump.rdb

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store

# -----------------------------
# IDE / Editor files
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# Testing / Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Misc
# -----------------------------
*.bak
*.tmp