# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store

# -----------------------------
# IDE / Editor files
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# Testing / coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Misc
# -----------------------------
*.bak
*.tmp